.nav-form {
    display: inline-block;
}
.nav-form input[type="text"]:focus {
    -webkit-box-shadow: 0 0 5px rgba(104, 146, 190, .5);
    -moz-box-shadow: 0 0 5px rgba(104, 146, 190, .5);
    box-shadow: 0 0 5px rgba(104, 146, 190, .5);
}
.pager__arrow.js-nav-disabled {
    border: 1px solid rgb(192, 213, 228);
}
.pager__arrow._next:not(.js-nav-disabled):active {
    -webkit-box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
}
.pager__arrow._prev:not(.js-nav-disabled):active {
    -webkit-box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
}