.edit-user.order__list > li > div,
.order__list > li > div {
    font-size: 14px;
    padding: 10px 14px;
}
.order__list .jq-selectbox__dropdown {
    width: 100%;
}
.order__list .jq-selectbox__dropdown li {
    display: block;
    margin: 0;
    border-collapse: inherit;
}
.order__list.edit-user {
    white-space: normal;
    margin-bottom: 0;
}
.row__password {
    position: relative;
}
.order a.js-password-generate {
    transition: .3s;
    color: rgb(210, 210, 210);
}
.js-password-generate {
    position: absolute;
    top: 9px;
    right: 9px;
    display: block;
}
.order a.js-password-generate:hover {
    color: rgb(255, 102, 0);
}
.form__row__title {
    font-size: 18px;
}