td.row-company {
    max-width: 300px;
}
.content__item._top {
    height: 285px !important;
    max-height: 28.5% !important;
}
.content__item._bottom {
    height: 71.5% !important;
    max-height: 71.5% !important;
}
#form-filter .form__row:last-child {
    margin-bottom: 0 !important;
}