#contents > div:not(.blk-milk-shadow) {
    position: relative;
    overflow: hidden !important;
    padding: 0 !important;
}
.registry-list.form__row {
    position: relative;
    /*float: left;*/
}
.create-mess {
    margin-top: 10px;
    margin-bottom: 10px;
}
.order.order-upload {
    margin-top: 10px !important;
    margin-bottom: 10px;
    width: 200px;
}
.order-hidden {
    display: none;
}
.disabled-upload {
    position: relative;
}
.disabled-upload:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    z-index: 2;
    background: transparent;
}
.disabled-upload .btn {
    background: #d4dbe1;
    border-color: #d4dbe1;
    opacity: .65;
    cursor: default;
}
.js-file:before {
    display: inline-block;
    font: normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
.js-file[href$=".pdf"]:before {
    content: "\f1c1";
}
.js-file[href$=".png"]:before,
.js-file[href$=".jpeg"]:before,
.js-file[href$=".jpg"]:before {
    content: "\f1c5";
}
.js-file[href$=".txt"]:before {
    content: "\f0f6";
}
.js-file[href$=".tar"]:before,
.js-file[href$=".tar.gz"]:before,
.js-file[href$=".gzip"]:before,
.js-file[href$=".bzip2"]:before,
.js-file[href$=".7z"]:before,
.js-file[href$=".wim"]:before,
.js-file[href$=".xz"]:before,
.js-file[href$=".rar"]:before,
.js-file[href$=".zip"]:before {
    content: "\f1c6";
}
.control__tools li {
    position: relative;
}
.js-option-disabled:after {

}
.hidden {
    display: none;
}
.table.js-table {
    font-size: 14px;
}
.table.js-table tr,
.table.js-table tr td {
    position: relative;
}
.table td .contain-upload a .fa {
    color: rgb(132, 153, 168);
}
.form .js-checkbox-td .checkbox > span {
    padding-left: 0;
}
.control .control__tools {
    margin-bottom: 2px;
}
.control__tools li a {
    background: transparent;
}
.control__tools li a .fa {
    font-size: 16px;
    color: rgb(132, 153, 168);
}
.control__tools li.js-option-disabled a {
    cursor: default;
}
.control__tools li.js-option-disabled a .fa {
    color: rgb(182, 203, 218);
}
#horizontal-right > .content__item._top {
    padding-right: 5px;
    padding-left: 5px;
}
#horizontal-right > .content__item._top > .scroll-wrapper {
    top: 5px;
    left: 0;
}
.bcb-body > .control__result {
    margin: 8px 70px 8px 0;
}
#contents > .scrollbar-outer {
    min-height: 600px;
}
.form__row__orders {
    font-size: 14px;
}
.__js-contain .order .b-container,
.__js-contain .form__row:last-child {
    margin-bottom: 0;
}
.__js-contain .order {
    margin-top: 0;
}
.pager {
    display: inline-block;
}
.pager:last-child {
    border-left: 1px solid rgb(105, 105, 106);
    margin-left: 15px;
    padding-left: 10px;
}
.contract-title {
    line-height: 14px;
    white-space: normal;
}
#order-form.b-container .b-container-block .bcb-collapse .bcb-body {
    padding-top: 7px;
}
#order-form.b-container .b-container-block .bcb-head {
    padding-top: 0;
}
#order-form.b-container > .b-container-block > .bcb-collapse {
    border-top: 1px solid rgb(154,154,154);
}
.bcb-body .control__result {
    margin: 8px 40px 8px 0;
}
.btn-block {
    padding-top: 10px;
}
.fa-check {
    color: forestgreen !important;
}
tr.not-available {
    opacity: 0.5;
}
.fa.fa-icon.fa-spin.fa-spinner {
    display: block;
    text-align: center;
    font-size: 1.2em;
}