.fl-list {
    width: 100%;
    min-width: 587px;
    /*background: rgb(230, 230, 230);*/
}
.fl-viewer {

}
/*region Панель управления документом*/
.fl-manager {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 1px solid #d7dbe0;
    margin-bottom: 50px;
}
.fl-manager .pager__arrow:not(.js-nav-disabled) {
    border: 1px solid rgb(136, 154, 166);
}
.fl-manager .pager__current input {
    border: 1px solid rgb(136, 154, 166);
}
.fl-manager > div:not(:first-child) {
    padding-left: 12px;
}
.fl-m-numfile,
.fl-m-numpage,
.fl-m-zoom,
.fl-m-download,
.fl-m-print {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 16px;
}
.fl-manager > div.fl-m-print,
.fl-manager > div.fl-m-download {
    position: relative;
    padding-top: 10px;
    padding-left: 8px;
}
.fl-manager .fl-m-download > a,
.fl-manager .fl-m-print > a {
    padding: 0 0 0 0;
    color: rgb(136, 154, 166);
}
.fl-m-download a:hover,
.fl-m-print a:hover {
    color: rgb(106, 124, 136);
}

.fl-add-list {
    display: none;
    width: inherit;
    list-style: none;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 34px;
    right: -27px;
    border: 1px solid rgb(136, 154, 166);
    z-index: 2;
}
.fl-add-list:before,
.fl-add-list:after {
    content: '';
    position: absolute;
    right: 23px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgb(136, 154, 166);
}
.fl-add-list:after {
    border-bottom: 10px solid white;
    top: -19px;
}
.fl-add-list li a {
    display: block;
    padding: 8px 16px;
    color: rgb(136, 154, 166);
}
.fl-add-list li a:hover {
    color: rgb(106, 124, 136);
    text-decoration: none;
}
.fl-m-zoom .pager__current {
    margin-left: 4px;
    position: relative;
}
/*endregion*/
/*region Блок с выводимым файлом*/
.fl-container {
    width: 587px;
    height: 830px;
}
.content__item._top .fl-container .scroll-wrapper {
    top: 65px;
    left: 0;
}
.fl-c-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
.fl-c-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.fl-c-active {
    display: block;
}
/*endregion*/
.pager__hidden {
    opacity: 0;
}