.scrollbar-outer ol {
    margin-left: 0;
    padding-left: 15px;
    margin-top: 15px;
}
.scrollbar-outer ol li {
    line-height: 25px;
    font-size: 16px;
}
.page__frame .backurl,
.scrollbar-outer .backurl {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}
.page__frame .table {
    margin-bottom: 15px;
}
.page__frame .table a:not(.filtr),
.page__frame .table a:not(.filtr):visited,
.scrollbar-outer ol li a,
.page__frame .backurl a:visited,
.scrollbar-outer .backurl a:visited,
.scrollbar-outer .backurl a
{
    color: #ec831f;
}
.page__frame .table a:not(.filtr):hover,
.scrollbar-outer ol li a:hover,
.scrollbar-outer .backurl a:hover {
    color: #ff6600;
    text-underline: none;
    text-decoration: none;
}