.content__item._bottom {
    height: 65% !important;
}
.content__item._top {
    height: 35% !important;
}

.pager:not(:first-child) {
    border-left: 1px solid rgb(105, 105, 106);
    margin-left: 15px;
    padding-left: 10px;
}
.pager {
    display: inline-block;
}