.pager {
    display: inline-block;
}
.pager:not(:first-child) {
    border-left: 1px solid rgb(105, 105, 106);
    margin-left: 15px;
    padding-left: 10px;
}
.form {
    position: relative;
}
.form:first-child {
    margin-bottom: 40px;
}
.form .order__list {
    margin-bottom: 0;
}
.form .btn {
    margin-top: 10px;
}
.form .js-value,
.form.disable-form .btn,
.form.disable-form .js-input,
.form.disable-form .row-hide {
    display: none;
}
.form.disable-form .js-value {
    display: inline-block;
}
.navigator {
    margin-bottom: 10px;
}
.delete-unit {
    margin-bottom: 40px;
}
.reestablish {
    text-align: center;
    background: rgb(230, 235, 240);
}