.content__item._top {
    height: 200px !important;
    max-height: 20% !important;
}
.content__item._bottom {
    height: 80% !important;
    max-height: 80% !important;
}

#form-filter .form__row:last-child {
    margin-bottom: 0 !important;
}