.data-user-default {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.data-user-default dt,
.data-user-default dd {
    line-height: 1.42857143;
}
.data-user-default dt {
    font-weight: 700;
    display: block;
}
.data-user-default dd {
    margin-left: 0;
    display: block;
}