.menu.left-menu > li > a:before,
.menu.left-menu > li > span:before {
    content: initial;
}
.menu.left-menu > li > a,
.menu.left-menu > li > span {
    padding-left: 0;
}

.menu.left-menu > li > div > a {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}
.menu.left-menu > li._active > div > a {
    color: #ec831f;
}
.menu.left-menu > li._active > .menu__level2 {

}
.menu.left-menu > li > div > .subMenuToggle {
    width: 20px;
    height: 11px;
}
.menu.left-menu > li > div > .subMenuToggle span {
    position: relative;
    display: block;
    height: 0;
    width: 0;
    border: 5px solid transparent;
}
.menu.left-menu > li > div > .subMenuToggle .span-toggle-hide {
    border-left-color: #8499a8;
}
.menu.left-menu > li > div > .subMenuToggle .span-toggle-show {
    margin-top: 4px;
    border-left-color: transparent;
    border-top-color: #ec831f;
}