html, body, form, ul, li, dl, dd, dt, fieldset, form, blockquote, p { margin:0; padding:0; border:0 none; }
ul, dl, dd, dt { list-style:none; }
dfn { font-style: normal; }
article { margin-bottom: 10px;}

table, tbody, tr, td, th { margin:0; padding:0; border:0 none; border-collapse:collapse; border-spacing:0; vertical-align:top; }

html, body { width:100%; height: 100%; }
body { font: 14px/16px 'PT Sans', sans-serif;  color:#000000; background:#ffffff; }

h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight: normal; }

img, fieldset { border:0 none; }

h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

h1 {
    height: 30px;
    font-size: 28px;
    padding: 1px 0;
}

.container:not(.jc-bs3-container) {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    background:#e6ebf0;
}
.container-column {
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px) {
    .container-column {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .container-column {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container-column {
        width: 750px;
    }
}

.container._table {
    display: table;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    left: 262px;
    right: 0;
    top: 0;
    height: 100%;
    background:#ffffff;
}

.container._table .page {
    position: static;
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}

.page__frame {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.page__col {
    position: absolute;
    top: 0;
    height: 100%;
}

.page__col._left {
    left: 0;
    width: 64%;
    overflow: hidden;
}
.page__col._right {
    right: 0;
    width: 36%;
}

.page__col._right .scroll-wrapper {
    position: absolute !important;
    left: 0;
    right: 10px;
    top: 0;
    bottom: 20px;
}


.user-panel {
    width: 262px;
    padding: 0 20px 0 25px;
    background: #e6ebf0;
    box-sizing: border-box;
}

.container._table .user-panel {
    display: table-cell;
    vertical-align: top;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    height: 100%;
}

.content__item {
    position: absolute;
    left: 0;
    right: 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

.content__item._top {
    top: 0;
    height: 43%;
}

.content__item._bottom {
    bottom: 0;
    height: 57%;
}

.page__title {
    padding-top: 16px;
    border-bottom: 1px solid #d7dbe0;
}

.page__title h1 {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    color: #ec831f;
    white-space: nowrap;
    padding-bottom: 14px;
    margin-bottom: -1px;
    border-bottom: 1px solid #ff6600;
}

.page__title h1 a {
    color: rgb(236, 131, 31);
    text-decoration: none;
}

.page__title__link {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 45px;
}

.content__item._top .scroll-wrapper {
    position: absolute !important;
    left: 40px;
    right: 0;
    top: 72px;
    bottom: 20px;
}

.content__item._top .form { min-width: 1020px; }

.content__item._bottom .scroll-wrapper {
    position: absolute !important;
    left: 40px;
    right: 0;
    top: 18px;
    bottom: 20px;
}


.menu { margin-top: 16px; }
.menu > li { margin-bottom: 18px; }

.menu  a,
.menu span {
    color: #000000;
    text-decoration: none;
}

.menu > li > a,
.menu > li > span {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}
.menu a:hover { text-decoration:underline; }

.menu > li > a:before,
.menu > li > span:before {
    content: ' ';
    position: absolute;
    top: 4px;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #8499a8;
}

.menu ._active > a,
.menu ._active > span,
.menu__level2 ._active { color: #ec831f; }

.menu li._active > a:before,
.menu li._active > span:before {
    top: 8px;
    border-left-color: transparent;
    border-top-color: #ec831f;
}

.menu__level2 { display: none; margin: 5px 0 0 24px; }
.menu__level2 li { margin-bottom: 5px; }
.menu ._active .menu__level2 { display: block; }


.user-panel__name {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 20px 11px 25px;
    margin: 0 -20px 0 -25px;
    border-top: 1px solid #bec9d3;
    border-bottom: 1px solid #bec9d3;
    background: #d6dbe0;
}

.user-panel__top {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #010101;
    padding: 16px 0 13px 0;
}

.user-panel__top__exit {
    position: absolute;
    top: 19px;
    right: 0;
    font-size: 14px;
    line-height: 16px;
    color: #6b6a6a;
}
.user-panel__top__exit:hover { text-decoration: none; }


.table { width: 100%; }
.table td {
    padding: 10px 9px 7px 9px;
    border-bottom: 1px solid #dfe3e8;
}
.table th {
    font-weight: normal;
    text-align: left;
    padding: 10px 9px 8px 9px;
    background: #d4dbe1;
}
.table .js-checkbox-td {
    width: 11px;
    height: 20px;
}
.table .js-checkbox-td span {
    width: 100%;
    height: 100%;
}
.table .js-checkbox-td span:after {
    top: 3px;
    left: 4px;
}

.table ._urgently td { background: #d2f0fd; }
.table ._cancel td { background: #fcd0d0; }
.table ._waiting td { background: #fedec7; }
.table ._done td { background: #bcf6d3; }

.table ._active td { background: #e6ebf0; }

.table ._type { width: 15px; }

.table ._name .icon { position: relative;  padding-left: 17px; }
.table ._name .icon:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
}

.table ._name .icon._doc:before {
    width: 10px;
    height: 13px;
    background: url("i/icons.png") no-repeat 0 -130px;
}

.table .icon._pdf,
.table .icon._txt { background: url("i/icons.png") no-repeat 0 0; }

.table .icon._pdf {
    width: 12px;
    height: 13px;
    background-position: 0 -145px;
}

.table .icon._txt {
    width: 12px;
    height: 14px;
    background-position: 0 -160px;
}


.table .filtr {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    padding-right: 11px;
}
.table .filtr:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 0;
    width: 5px;
    height: 8px;
    margin-top: -4px;
    background: url("i/icons.png") no-repeat 0 -180px;
}



.btn {
    display: inline-block;
    padding: 5px 14px;
    font: 16px 'PT Sans', sans-serif;
    color: #ffffff;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: #8499a8;
    border: 1px solid #8499a8;
    cursor: pointer;
    box-sizing: border-box;
}

.btn._white {
    color: #8499a8;
    background: #ffffff;
    border-color: #d4dbe1;
}

.btn.btn-disabled {
    background: #d4dbe1;
    border-color: #d4dbe1;
    opacity: .65;
    cursor: not-allowed;
}

.form__field {
    width: 100%;
    padding: 6px 8px;
    font: 14px 'PT Sans', sans-serif;
    outline: none;
    color:#000000;
    background: #ffffff;
    border: 1px solid #d4dbe1;
    box-sizing: border-box;
}
.form__field._textarea { height: 90px; }

.form__row__name {
    margin: 14px 0 2px 0;
    font-size: 14px;
}
.form__row__name:first-child { margin-top: 0; }

.form__row__link {
    display: inline-block;
    margin-top: 7px;
}

.form__row {
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 22px;
}
.form__row__col {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 19px;
}
.form__row__col:last-child { margin-right: 0; }

.form ._size1 { width: 145px; }
.form ._size2 { width: 200px; }
.form ._size3 { width: 480px; }
.form ._size4 { width: 227px; }
.form ._size5 { width: 446px; }
.form ._size6 { width: 280px; }
.form ._size7 { width: 180px; }



.form__row__col._icon {
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
}

.form__row__col._icon._ic-multiply:before {
    content: ' ';
    position: absolute;
    bottom: 13px;
    left: -4px;
    width: 11px;
    height: 11px;
    background: url("i/icons.png") no-repeat 0 0;
}


.form__row__col._inline { font-size: 0; }
.form__row__col__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.form__row__col__item._txt {
    min-width: 19px;
    text-align: center;
}

.form__row__col__button {
    position: relative;
    padding-right: 105px;
}

.form__row__col__button .btn {
    min-width: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.form__table {
    display: table;
    width: 100%;
    margin-bottom: 22px;
}
.form__table__col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
}
.form__table__col:first-child { padding-right: 10px; }
.form__table__col:last-child { padding-left: 10px; }

.form__title {
    color: #808080;
    font-style: italic;
    margin-bottom: 27px;
}
.form__title:after {
    content: ' ';
    display: block;
    height: 1px;
    margin-top: -8px;
    background: #e0e0e0;
}
.form__title span {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    background: #ffffff;
}

.form__button {
    font-size: 0;
    margin-top: 36px;
}
.form__button .btn { margin-right: 10px; min-width: 120px; }


.checkbox { line-height: 20px; }

.checkbox input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox > span {
    display: inline-block;
    position: relative;
    min-height: 13px;
    cursor:pointer;
}

.checkbox > span:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    background: #ffffff;
    border: 1px solid #a3b3be;
}

.checkbox input[type=checkbox]:checked + span:after {
    background: #8499a8;
    border-color: #8499a8;
}
.checkbox input[type=checkbox]:checked + span:after {
    background-image: url("i/check.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox._style2  > span:after {
    width: 9px;
    height: 9px;
    border-width: 2px;
    background: #d4dbe1;
}


.form .checkbox > span { padding-left: 26px; }
.form .checkbox > span:after { top: 3px; }

.form .type-list { margin-top: 15px; }
.form .type-list ._urgently { color: #3386c1; }
.form .type-list ._cancel { color: #e25555; }
.form .type-list ._waiting { color: #ff7e00; }
.form .type-list ._done { color: #3ba31f; }


.form__note a { font-weight: bold; color: #000000; }
.form__note a:hover { text-decoration: none; }



.control {
    position: relative;
    font-size: 0;
    margin-bottom: 25px;
}

.control__result {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    margin: 0 70px 8px 0;
}

.control__tools {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
    margin-bottom: 10px;
}
.control__tools li {
    display: inline-block;
    margin-right: 20px;
}
.control__tools a {
    display: block;
    height: 16px;
    background: url("i/icons.png") no-repeat 0 0;
}

.control__tools ._download {
    width: 15px;
    background-position: 0 -15px;
}
.control__tools ._view {
    width: 13px;
    background-position: 0 -35px;
}
.control__tools ._edit {
    width: 16px;
    background-position: 0 -55px;
}
.control__tools ._print {
    width: 16px;
    background-position: 0 -75px;
}
.control__tools ._delete {
    width: 12px;
    background-position: 0 -95px;
}

.control__actions {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 43px;
}

.control__actions .form {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.control__actions .form:first-child { margin-left: 0; }
.control__actions .form__row__col__item:last-child { margin-left: 9px; }

.content__item__frame { min-width: 1020px; }


.pager {
    font-size: 0;
    margin-top: 10px;
}

.pager__arrow,
.pager__current {
    display: inline-block;
    vertical-align: middle;
}

.pager__arrow {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    background: url("i/icons.png") no-repeat 0 0;
    border: 1px solid #6892be;
}
.pager__arrow._prev { background-position: 0 -115px; }
.pager__arrow._next { background-position: -14px -115px; }

.pager__current { margin-left: 6px; }

.pager__current span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #69696a;
}
.pager__current input {
    display: inline-block;
    vertical-align: middle;
    font: 14px 'PT Sans', sans-serif;
    color: #69696a;
    text-align: right;
    outline: none;
    padding: 0 6px 0 6px;
    width: 45px;
    height: 17px;
    margin: 0 5px;
    background: #ffffff;
    border: 1px solid #389e98;
    box-sizing: border-box;
}


.order,
.page__body {
    margin-top: 46px;
    display: table;
    width: 100%;
}
.order__col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.order__col__frame { width: 91%; }
.order__col:last-child .order__col__frame { margin: 0 0 0 auto; }

.order h2, .page__body h2 { margin-bottom: 30px; }

.order a,
table a,
.page__body a {
    color: #ff6600;
}
.order a:hover,
table a:hover,
.page__body a:hover {
    text-decoration: none;
}
.order a.btn,
.page__body a.btn {
    color: #ffffff;
}

.order__list { margin-bottom: 40px; }
.order__list li {
    display: table;
    width: 100%;
    border-collapse:collapse;
    margin-bottom: -1px;
}
.order__list li > div {
    display: table-cell;
    vertical-align: top;
    padding: 15px 28px;
    box-sizing: border-box;
    border: 1px solid #d4dbe1;
}
.order__list li > div:first-child {
    width: 179px;
    background: #e6ebf0;
}

.order__list > li.this-order {
    color: #929292;
}

.order__price {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 11px;
}



/*********************************/
.splitter_panel .vsplitter {
    background-color: #ffffff;
    width: 10px;
}
.splitter_panel .vsplitter:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    border-left: 1px solid #dfe3e8;
    background: #e7e7e7; /* Old browsers */
    background: linear-gradient(to right,  #e7e7e7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.splitter_panel .vsplitter:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 35px;
    margin: -18px 0 0 -4px;
    background: #e6ebf0 url("i/arrow_vsplitter.gif") no-repeat 50% 50%;
    border: 1px solid #c0cad2;
}


.splitter_panel .hsplitter {
    background-color: #ffffff;
    height: 9px;
}

.splitter_panel .hsplitter:before {
    content: ' ';
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    border-top: 1px solid #dfe3e8;
}

.splitter_panel .hsplitter:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    width: 35px;
    height: 7px;
    margin: 0 0 0 -18px;
    background: #e6ebf0 url("i/arrow_hsplitter.gif") no-repeat 50% 50%;
    border: 1px solid #c0cad2;
}


/*****************************/
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
    left: 3px;
    width: 6px;
}

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
    height: 6px;
    top: 3px;
}

.scrollbar-outer > .scroll-element .scroll-element_track { background: #e6ebf0; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    left: 1px;
    width: 4px;
}
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    top: 1px;
    height: 4px;
}

.scrollbar-outer > .scroll-element .scroll-bar {
    background: #8499a8;
}

/*****************************/
.jq-selectbox,
.jq-select-multiple { width: 100%; }

@media (min-width: 1440px) {
    .page__frame { width: 77%; }
}
.text-success {
    color: green;
}
.text-danger { color: red; }
.placeholder-danger {
    border-color: red;
}
.placeholder-danger::-webkit-input-placeholder { color: red; }
.placeholder-danger::-moz-placeholder { color: red; }
.placeholder-danger:-moz-placeholder { color: red; }
.placeholder-danger:-ms-input-placeholder { color: red; }
.form__row.form__row__sheet .order__col { display: inline-block; }

/*******************ELAR**************/
.warning {
    display: inline-block;
    clear: both;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background-color: #fff2ae;
    color: #000000;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .18 );
}
.warning p {
    border-bottom: 1px dashed #9D9D9D;
}
.clearfix {
    content: " ";
    clear: both;
    width: 100%;
    min-height: 1px;
}
button[type=button] > a {
    color: inherit;
    text-decoration: none;
}
/**********************Bootstrap grid********************/
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.container-fluid:after,
.row:after {
    clear: both;
    margin-bottom: 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 45%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
/*************** Bootstrap table *********************/
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.table-responsive > .table {
    margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
.table-responsive > .table-bordered {
    border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}

.height-max {
    height: 100% !important;
}
td span.frn-waiting, td span.frn-danger { display: block; }