.b-container {
    margin-bottom: 20px;
}
.b-container .b-container-block {
    margin-bottom: 0;
    overflow: hidden;

}
.b-container .b-container-block .bcb-head {
    font-size: 16px;
    padding: 10px 15px 10px 0;
}
.b-container .b-container-block .bcb-head h4 {

}
.b-container .b-container-block .bcb-head h4 a {
    position: relative;
}
.b-container .b-container-block .bcb-head h4 a:after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    top: 8px;
    right: -12px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid rgb(255,102,0);
}
.b-container .b-container-block.js-open .bcb-head h4 a:after {
    top: 7px;
    border-top: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid rgb(255,102,0);
}
.b-container .b-container-block .bcb-collapse {
    display: none;
}
.b-container .b-container-block.js-open > .bcb-collapse {
    display: block;
}
.b-container .b-container-block .bcb-collapse .bcb-body {
    padding: 15px 0;
}

.jq-file.js-input-file,
.jq-file.js-input-file .jq-file__browse,
.jq-file.js-input-file .jq-file__name {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.jq-file.js-input-file .jq-file__name {

}
.jq-file.js-input-file .jq-file__browse {
    background: rgb(132,153,168);
    border: 1px solid rgb(132,153,168);
    -webkit-box-shadow: inset 0 0 0 rgb(0, 0, 0);
    -moz-box-shadow: inset 0 0 0 rgb(0, 0, 0);
    box-shadow: inset 0 0 0 rgb(0, 0, 0);
    color: #ffffff;
    text-shadow: 0 0 0 rgb(0,0,0);
}
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
    border: 1px solid transparent;
}
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:not(.btn-disabled):hover,
.btn:not(.btn-disabled):hover,
.jq-file.js-input-file:hover .jq-file__browse {
    background: rgb(152,173,188);
    border: 1px solid rgb(152,173,188);
}
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:not(.btn-disabled):active,
.btn:not(.btn-disabled):active,
.jq-file.js-input-file:active .jq-file__browse {
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .5);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .5);
}
.order .btn._white,
.btn._white {
    color: #8499a8;
    background: #ffffff;
    border-color: #d4dbe1;
}
.order .btn._white:hover,
.btn._white:hover {
    background: rgb(240, 240, 240);
}
.scrollbar-outer ol {
    margin-left: 15px;
}
.blk-milk-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #fff;
    z-index: 100;
    transition: opacity .5s;
}
.blk-milk-shadow .fa {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 12;
    color: rgb(132,153,168);
}
.pager__arrow {
    background: url("i/icons_2.png") no-repeat 0 0;
}
.pager__arrow._plus {
    background-position: 1px -200px;
}
.pager__arrow._minus {
    background-position: -15px -200px;
}

.pager__number {
    position: relative;
}
.pager__number input[type="number"] {
    display: block;
    width: 75px;
    padding: 0 46px 0 0;
}
.pager__number input[type="number"]::-webkit-outer-spin-button,
.pager__number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}
.pager__number:after {
    content: "%";
    position: absolute;
    top: 1px;
    left: 33px;
    z-index: 2;
    color: rgb(105, 105, 106);
    font-size: 14px;
}
.pager__number .pn-nav {
    position: absolute;
    width: 21px;
    height: 15px;
    top: 1px;
    right: 6px;
}
.pager__number .pn-nav .pn-nav-button {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 50%;
    font-family: FontAwesome;
    font-size: 10px;
    text-rendering: auto;
    text-align: center;
    color: rgb(136, 154, 166);
}
.pager__number .pn-nav .pn-nav-button:hover {
    color: rgb(106, 124, 136);
}
.pager__number .pn-nav .pn-nav-button:before {
    position: absolute;
    top: 0;
    line-height: 7px;
}
.pager__number .pn-nav .pn-nav-button.pn-nav-up:before {
    content: "\f0d8";
}
.pager__number .pn-nav .pn-nav-button.pn-nav-down:before {
    content: "\f0d7";
}
.pager__arrow.js-nav-disabled {
    border: 1px solid rgb(192, 213, 228);
    cursor: default;
}
.pager__arrow._plus:not(.js-nav-disabled):active,
.pager__arrow._minus:not(.js-nav-disabled):active {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
}
.hidden {
    display: none;
}
.form__field:disabled {
    color: rgb(172, 179, 185);
    cursor: no-drop;
}
.form__field:disabled::-webkit-input-placeholder { color: transparent; }
.form__field:disabled::-moz-placeholder { color: transparent; }
.form__field:disabled:-moz-placeholder { color: transparent; }
.form__field:disabled:-ms-input-placeholder { color: transparent; }
.company-edit .form__field:disabled {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.bcb-body .order__list li {
    border-collapse: inherit;
}
.oc-block {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    display: none;
}
.oc-block .btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
.oc-block .company-edit {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d4dbe1;
}
.oc-block .company-adress {
    margin-top: 20px;
}
.oc-block.ocb-active {
    display: block;
}
.order .oc-block h2 {
    margin-bottom: 10px;
}
.company-adress h4 {
    font-size: 16px;
}
.company-adress .view-data {
    font-size: 14px;
}
.form__row .bcb-head {
    white-space: normal;
}
.bcb-head > p:first-child {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
.bcb-head > p:last-child {
    width: 8%;
    display: inline-block;
    vertical-align: top;
}
.bcb-head-no-width.bcb-head > p {
    width: initial;
}
.bcb-head > p > a {
    text-decoration: none;
}
.bcb-head > p > a:hover {
    color: rgb(255,152,50);
}
.js-open > .bcb-head > p:last-child .fa-angle-double-down:before {
    content: '\f102';
}
.js-open > .bcb-head > p:last-child .fa-arrow-circle-down:before {
    content: '\f0aa';
}

.bgd-success,
.bgd-info,
.bgd-error,
.bgd-warning {
    padding: 10px 9px 7px 9px;
}
.bgd-success { background: rgb(188, 246, 211); }
.bgd-info { background: rgb(210, 240, 253); }
.bgd-error { background: rgb(252, 208, 208); }
.bgd-warning { background: rgb(254, 222, 199); }

.show-reg-n .table > tbody > tr:not(.js-sr-n) > td,
.show-reg-y .table > tbody > tr:not(.js-sr-y) > td {
    background: rgb(240,240,240);
    color: rgb(190,190,190);
}
.show-reg-n .table > tbody > tr:not(.js-sr-n) > .js-checkbox-td:before,
.show-reg-y .table > tbody > tr:not(.js-sr-y) > .js-checkbox-td:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 3;
}
.nav-form {
    display: inline-block;
}
.nav-form input[type="text"]:focus {
    -webkit-box-shadow: 0 0 5px rgba(104, 146, 190, .5);
    -moz-box-shadow: 0 0 5px rgba(104, 146, 190, .5);
    box-shadow: 0 0 5px rgba(104, 146, 190, .5);
}
.pager__arrow.js-nav-disabled {
    border: 1px solid rgb(192, 213, 228);
}
.pager__arrow._next:not(.js-nav-disabled):active {
    -webkit-box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset -2px 0 2px rgba(0, 0, 0, .5);
}
.pager__arrow._prev:not(.js-nav-disabled):active {
    -webkit-box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset 2px 0 2px rgba(0, 0, 0, .5);
}

.no-active-row td {
    position: relative;
    background: rgb(240,240,240);
    color: rgb(190,190,190);
}
.js-checkbox-td .checkbox input[type=checkbox] {
    margin: 3px 0;
}
.js-checkbox-td .checkbox span:after {
    left: 0;
}
.table .js-checkbox-td {
    width: auto;
    height: auto;
}
.table .js-checkbox-td .checkbox {
    width: 14px;
    float: left;
    position: relative;
}
.table-fix-checkbox .js-checkbox-td:before,
.no-active-row td:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 3;
    top: 0;
    left: 0;
}
.table td .contain-upload {
    padding-top: 2px;
}
.no-active-row .order a {
    color: rgb(190,190,190);
    text-decoration: none;
}
#js-user-list .no-active-row td:before {
    content: initial;
}
.no-active-row .url-upload {
    color: rgb(244, 211, 181);
    text-decoration: none;
}
.content__item._top .form.form__fl-left {
    min-width: 300px;
}

.form__fl-left .form__row {
    width: 100%;
    float: left;
}
.form__fl-left .form__row > div {
    float: left;
}
.ui-datepicker.ui-widget.ui-widget-content {
    z-index: 100 !important;
}
.splitter_panel .hsplitter {
    z-index: 20;
}

.portlet-content {
    position: relative;
}
.ui-widget-header a.portlet-content-toggle,
.portlet-content-toggle {
    color: rgb(219, 212, 225);
    float: right;
}
.ui-widget-header a.portlet-content-toggle:hover,
.portlet-content-toggle:hover {
    color: rgb(179, 172, 185);
}
.js-reset-input {
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    opacity: 0;
}
.ui-widget button.btn {
    font: 16px 'PT Sans', sans-serif;
}

/*region Стили для фильтра списка ЕУ в реестре и для фильтра списка заказов */
.column.form__row__col.ui-sortable {
    padding-bottom: 20px;
}
.portlet-placeholder {
    height: 50px;
    width: 100%;
    border: 1px dotted rgb(0, 0, 0);
    border-radius: 0;
    margin: 0 1em 1em 0;
}
.form__row__sortable .column .portlet {
    border: none;
}
.form__row__sortable .column .portlet:not(:last-child) {
    margin-bottom: 15px;
}
.form__row__sortable .column .portlet-header {
    border: 0;
    background: none;
    cursor: move;
    font-weight: normal;
}
.form__row__sortable .column .portlet-header .ui-icon {
    cursor: pointer;
}
.form__row__sortable .column .portlet-content {

}
.form__row.form__row__sortable {
    position: relative;
}
.btn-settings {
    font-size: 14px;
    color: rgb(205, 205, 205);
}
.btn-settings:hover {
    color: rgb(170, 170, 170);
}
.jconfirm-scrollpane .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 768px) {
    .jconfirm-scrollpane .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .jconfirm-scrollpane .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .jconfirm-scrollpane .container {
        width: 1170px
    }
}
.jconfirm-scrollpane .row {
    margin-right: -15px;
    margin-left: -15px
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-pull-11 {
        right: 91.66666667%
    }

    .col-lg-pull-10 {
        right: 83.33333333%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-8 {
        right: 66.66666667%
    }

    .col-lg-pull-7 {
        right: 58.33333333%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-5 {
        right: 41.66666667%
    }

    .col-lg-pull-4 {
        right: 33.33333333%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-2 {
        right: 16.66666667%
    }

    .col-lg-pull-1 {
        right: 8.33333333%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-push-11 {
        left: 91.66666667%
    }

    .col-lg-push-10 {
        left: 83.33333333%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-8 {
        left: 66.66666667%
    }

    .col-lg-push-7 {
        left: 58.33333333%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-5 {
        left: 41.66666667%
    }

    .col-lg-push-4 {
        left: 33.33333333%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-2 {
        left: 16.66666667%
    }

    .col-lg-push-1 {
        left: 8.33333333%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }
}
/*endregion*/

.user-panel__top > a:first-child {
    color:  rgb(80, 80, 80);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
}
.user-panel__top > a:first-child:hover {
    color: rgb(236, 131, 31);
}
.js-password {
    position: relative;
}
.order .js-password a,
.js-password a {
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 2;
    color: rgb(212, 219, 225);
    transition: .3s;
}
.order .js-password a:hover {
    color: rgb(0, 0, 0);
}
.js-password a.js-hide-pass .fa:before {
    content: '\f070';
}
.frn-waiting,
.frn-success,
.frn-danger {
    padding: 1px 10px;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
.frn-waiting {
    background: rgb(254, 222, 199);
    color: rgb(164, 132, 109);
    border: 1px solid rgb(164, 132, 109);
    white-space: normal;
}
.frn-waiting h5,
.frn-waiting h4,
.frn-waiting h3,
.frn-waiting h2,
.frn-waiting h1 {
    color: rgb(142, 98, 98);
}
.frn-danger {
    background: rgb(252, 208, 208);
    color: rgb(142, 98, 98);
    border: 1px solid rgb(142, 98, 98);
    white-space: normal;
}
.frn-success {
    background: rgb(188, 246, 211);
    color: rgb(68, 126, 91);
    border: 1px solid rgb(68, 126, 91);
    white-space: normal;
}
.row__tooltip {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.jq-selectbox__select {
    padding: 0 30px 0 8px;
}
.form__row__col__item > a {
    line-height: 32px;
    color: rgb(236, 131, 31);
}
.form__row__col__item > a:hover {
    color: rgb(255,152,50);
    text-decoration: none;
}
.control__result {
    margin: 0 40px 8px 0;
}
.control__actions {
    margin-left: 0;
}
.url_close {
    width: 11px;
    height: 11px;
    background: url('i/icons.png') no-repeat 0 0;
}