.content__item.top_panel {
    padding-right: 40px;
}
.page__title h1:not(:first-child) {
    margin-left: 10px;
}
.page__title h1 a {
    color: rgb(236, 131, 31);
    text-decoration: none;
}
.page__title .disable {
    border-bottom: 1px solid rgb(215, 219, 224);
}
.page__title .disable a {
    position: relative;
    color: rgb(215, 219, 224);
    text-decoration: none;
}
.page__title .disable:hover {
    /*border-bottom: 1px solid rgb(236, 131, 31);*/
}
.page__title .disable a:hover {
    color: rgb(236, 131, 31);
}
.page__title .disable a:hover:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: rgb(236, 131, 31);
    left: 0;
    bottom: -14px;
}