.order.order-upload {
    margin-top: 10px !important;
    margin-bottom: 10px;
    width: 200px;
}
.order-hidden {
    display: none;
}
.disabled-upload {
    position: relative;
}
.disabled-upload:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    z-index: 2;
    background: transparent;
}
.disabled-upload .btn {
    background: #d4dbe1;
    border-color: #d4dbe1;
    opacity: .65;
    cursor: default;
}
.js-file:before {
    display: inline-block;
    font: normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
.js-file[href$=".pdf"]:before {
    content: "\f1c1";
}
.js-file[href$=".png"]:before,
.js-file[href$=".jpeg"]:before,
.js-file[href$=".jpg"]:before {
    content: "\f1c5";
}
.js-file[href$=".txt"]:before {
    content: "\f0f6";
}
.js-file[href$=".tar"]:before,
.js-file[href$=".tar.gz"]:before,
.js-file[href$=".gzip"]:before,
.js-file[href$=".bzip2"]:before,
.js-file[href$=".7z"]:before,
.js-file[href$=".wim"]:before,
.js-file[href$=".xz"]:before,
.js-file[href$=".rar"]:before,
.js-file[href$=".zip"]:before {
    content: "\f1c6";
}