.page__frame .order {
    margin: 10px 0 0 0;
}
.form {
    position: relative;
}
.form__row .frn-success,
.form__row .frn-danger {
    white-space: normal;
    min-height: 46px;
}
.js-edit-form {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 2;
    color: rgb(212, 219, 225);
}
.order .no-edit .js-edit-form {
    color: rgb(212, 219, 225);
}
.order .js-edit-form {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .3s;
}
.js-edit-form:hover {
    color: rgb(255, 102, 0);
}
.order__col .form:not(first-child) {
    margin-top: 15px;
}