.order-detail {
    display: block;
    color: rgb(255, 102, 0);
    text-decoration: none;
}
.order-detail:hover {
    color: rgb(255,152,50);
}
.order-detail span {
    float: right;
}
.content__item._top .scrollbar-center.scroll-wrapper {
    right: 40px;
}
.pager {
    display: inline-block;
}
.pager:not(:first-child) {
    border-left: 1px solid rgb(105, 105, 106);
    margin-left: 15px;
    padding-left: 10px;
}
.no-active td {
    /*background: rgb(230, 230, 230);*/
    color: rgb(150, 150, 150);
}
.no-active td a {
    color: rgb(102, 102, 102);
}
.no-active td a:hover {
    color: rgb(132, 132, 132);
}
.empty-order-list {
    margin-top: 30px;
}
.title-empty {
    font-size: 18px;
}
.title-empty a {
    color: rgb(50, 50, 50);
    font-weight: bold;
    transition: .3s;
}
.title-empty a:hover {
    color: rgb(255, 101, 0);
    text-decoration: none;
}
.bgd-forming {
    background: rgb(240, 240, 240);
}
.content__item._bottom.bottom_panel .scroll-wrapper {
    right: 40px;
}

i.fa.fa-trash {
    color: rgb(255, 102, 0);
    cursor: pointer;
}
i.fa.fa-trash:hover {
    color: rgb(255, 78, 0);
}