.order.order-upload {
    /*margin-top: 10px !important;*/
    /*margin-bottom: 10px;*/
    width: 200px;
}
.order-hidden {
    display: none;
}
.disabled-upload {
    position: relative;
}
.disabled-upload:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    z-index: 2;
    background: transparent;
}
.disabled-upload .btn {
    background: #d4dbe1;
    border-color: #d4dbe1;
    opacity: .65;
    cursor: default;
}
.js-file:before {
    display: inline-block;
    font: normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
}
.js-file[href$=".pdf"]:before {
    content: "\f1c1";
}
.js-file[href$=".png"]:before,
.js-file[href$=".jpeg"]:before,
.js-file[href$=".jpg"]:before {
    content: "\f1c5";
}
.js-file[href$=".txt"]:before {
    content: "\f0f6";
}
.js-file[href$=".tar"]:before,
.js-file[href$=".tar.gz"]:before,
.js-file[href$=".gzip"]:before,
.js-file[href$=".bzip2"]:before,
.js-file[href$=".7z"]:before,
.js-file[href$=".wim"]:before,
.js-file[href$=".xz"]:before,
.js-file[href$=".rar"]:before,
.js-file[href$=".zip"]:before {
    content: "\f1c6";
}
.control__tools li {
    position: relative;
}
.js-option-disabled:after {
    /*position: absolute;*/
    /*content: '';*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(255,255,255,.5);*/
}
.hidden {
    display: none;
}
.table.js-table {
    font-size: 14px;
}
.table.js-table tr,
.table.js-table tr td {
    position: relative;
}
.table td.js-file .contain-upload {
    padding-top: 0;
}
.table td .contain-upload a .fa {
    color: rgb(132, 153, 168);
}
.form .js-checkbox-td .checkbox > span {
    padding-left: 0;
}
.control .control__tools {
    margin: 0 0 8px 0;
}
.control__tools li a {
    background: transparent;
}
.control__tools li a .fa {
    font-size: 16px;
    color: rgb(132, 153, 168);
}
.control__tools li.js-option-disabled a {
    cursor: default;
}
.control__tools li.js-option-disabled a .fa {
    color: rgb(182, 203, 218);
}
#horizontal-right > .content__item._top {
    padding-right: 5px;
    padding-left: 5px;
}
#horizontal-right > .content__item._top > .scroll-wrapper {
    top: 5px;
    left: 0;
}
.droptrue .form__row__col {
    margin: 0 10px 10px 0;
}
.pager {
    display: inline-block;
}
.pager:not(:first-child) {
    border-left: 1px solid rgb(105, 105, 106);
    margin-left: 15px;
    padding-left: 10px;
}
.js-select-order {
    color: rgb(236, 131, 31);
    position: relative;
    padding: 5px 10px;
    margin: 0;
    text-decoration: underline;
}
.js-select-order:hover {
    color: rgb(255, 102, 0);
    text-decoration: none;
}
#control-action-toggle {
    position: relative;
}
#control-action-toggle .fa-3x {
    font-size: 22px;
    top: 20%;
    left: 50%;
}
.control__actions__container.control__actions {
    margin-left: 5px;
}
.control__actions__container .control__actions {
    margin-left: 10px;
}
.control__actions .form__row__name {
    height: 16px;
}
.table td.min-padding {
    padding: 4px 9px 3px 9px;
}
.table td.min-padding .form__field {
    padding: 4px 8px;
}
.content__item._bottom.content__item__table .scroll-wrapper {
    top: 8px;
}
.table th.js-file,
.table td.js-file,
.js-file {
    width: 0;
    padding: 10px 0 8px 0;
    overflow: hidden;
}
.table th.js-file > div,
.table td.js-file > div,
.table th.js-file > a,
.table td.js-file > a {
    width: 0;
    padding: 0;
}
@keyframes widthTo {
    0% { width: 0; }
    100% { width: 160px; }
}
@keyframes widthOut {
    0% { width: 160px; }
    100% { width: 0; }
}
.table .js-file.slow-width-to > div {
    width: 160px;
    animation: .3s widthTo linear;
}
.table .js-file.slow-width-out > div {
    width: 0;
    animation: .3s widthOut linear;
}
.table th.js-file.slow-width-to > a:after {

}
.table.js-table tr th,
.table.js-table tr td {
    white-space: nowrap;
}
.scrollbar-outer ol li a.js-file-active,
.scrollbar-outer ol li a.js-file-active:hover,
.js-file-active {
    color: rgb(210, 210, 210);
    text-decoration: none;
    cursor: default;
}
.control-block {
    white-space: nowrap;
}

.list-row,
.div-table {
    width: 100%;
    float: left;
}
.list-row {

}
.list-row > li {
    float: left;
    list-style: none;
}
.list-row > li > div {
    padding: 10px 9px 8px 9px;
    border-bottom: 1px solid #d4dbe1;
    position: relative;
    height: 18px;
}
.list-row > li > div:first-child {
    background: #d4dbe1;
    text-align: left;
    height: 18px;
}
.list-row > li > div.js-file {
    padding: 10px 0 8px 0;
}
.form__row.form__row__sortable .btn-settings {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 0;
}
.list-filter-settings {
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid rgb(212, 219, 225);
    background: rgb(255, 255, 255);
    z-index: 2;
}
.list-filter-settings:before,
.list-filter-settings:after {
    content: '';
    position: absolute;
    right: 9px;
    top: -12px;
    border: 6px solid transparent;
    border-bottom: 6px solid rgb(212, 219, 225);
}
.list-filter-settings:after {
    border-bottom: 6px solid white;
    top: -10px;
}
.list-filter-settings a {
    display: block;
    font-size: 14px;
    padding: 4px 8px;
    color: rgb(212, 219, 225);
    text-decoration: none;
}
.list-filter-settings a:hover {
    color: rgb(172, 179, 185);
}
#vertical .page__col._left {
    width: 100%;
}
#vertical .page__col._right {
    width: 0;
}