.download-file {
    position: relative;
    display: inline-block;
    padding: 1px 5px 1px 20px;
}
.download-file:before {
    position: absolute;
    z-index: 2;
    font-family: FontAwesome;
    font-size: 14px;
    content: '\f019';
    top: 6px;
    left: 2px;
}